<div *ngIf="!employee"><em>Please select an employee to see details</em></div>

<div *ngIf="employee">
    <form #employeeForm="ngForm">
        <div>
            <label>Name:</label>
            <input name="name"
                   type="text"
                   [(ngModel)]="employee.name" required />
        </div>
        <div>
            <label>Nickname:</label>
            <input name="nickName"
                   type="text"
                   [(ngModel)]="employee.nickName" />
        </div>
        <div>
            <label>Employee Of The Month:
            <input name="employeeOfTheMonth"
                   type="checkbox"
                   [(ngModel)]="employee.employeeOfTheMonth" />
            </label>
        </div>
        <div>
            <button (click)="reset()">Cancel</button>
            <button *ngIf="!employee.id"
                    (click)="createRequest.emit(employee);reset();">Add</button>
            <button *ngIf="employee.id"
                    (click)="deleteRequest.emit(employee.id);">Delete</button>
            <button *ngIf="employee.id"
                    (click)="updateRequest.emit(employee);">Update</button>
        </div>
    </form>
</div>