html, body {
    margin: 0px;
    padding: 0px;
}

dashboard div {
    background-color: rgb(227, 252, 245);
    box-shadow: 1px 0px 4px 0px #333;
    margin: 0px 10px;
    padding:0px 20px;
}

employees {
    display:flex;
}

employees employee-list {
    background-color: rgb(227, 252, 245);
    box-shadow: 1px 0px 4px 0px #333;
    flex: 0 1 400px;
    margin: 0px 10px;
    padding:20px;
}

employees employee-detail {
    background-color: rgb(227, 252, 245);
    box-shadow: 1px 0px 4px 0px #333;
    flex: 1 1 auto;
    margin: 0px 10px;
    padding:20px;
}


